@media screen and (max-width: 1199px) {

    .nav_bar {
        gap: 20px;
        margin: 0px;
    }
    .hero--left {
        margin: 0px;
    }
    .hero--left-buttons_box {
        align-self: center;
        
    }
    .toast {
        right: 23px;
        top: 243px;
    }
    .three--picture-box {
        max-width: 350px;
    }
}