

@import 'header.scss';
@import 'underHeader.scss';
@import 'flexgrid.scss';
@import 'media.scss';

* {
  margin: 0px;
}


body {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
